/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

p{
    font-size: 20px;
}

.card h5, .card p{
    color: rgb(81, 81, 81);
}

.card{
    border: 1px solid black;
}

/* utils */